@charset "UTF-8";

fieldset {
    padding: 10px;
    position: absolute;
    top: 320px;
    left: 100px;
    border-color: black;
    margin: 30px;
}

form label {
    padding: 10px;
    margin: 10px;
}

legend {
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
}